@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
        color: #ffffff;
    }

    .pf-v5-c-page__main-section {
        background-color: #2e2e2e;
    }
    
    .pf-v5-c-card {
        background-color: #3e3e3e;
        color: #ffffff;
        border: 1px solid #444444;
    }

    .pf-v5-c-card__title {
        background-color: #333333;
        color: #ffffff;
    }

    .pf-v5-c-card__body {
        color: #ffffff;
        padding: 15px;
    }
}

#smart-output {
    background-color: #2a2a2a;
    color: #ffffff;
    border: 1px solid #444444;
    padding: 10px;
    overflow: auto;
}

.full-output {
    display: none;
}

progress {
    background-color: #444444;
}

button {
    background-color: #007acc;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #005f99;
}

.status-passed {
    color: #00ff00; /* Green color for PASSED status */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #444444;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top; /* Ensure text is aligned to the top */
    z-index: 1;
    background-color: inherit; /* Ensure background color is inherited */
    /* padding-top: 40px; /* Adjust this value based on the height of your sticky header */
}

/* Ensure the sticky cells are above other content */
th {
    background-color: #333333;
    color: #ffffff;
    z-index: 2;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Ensure the header is at the top */
}

td {
    background-color: #2e2e2e;
    color: #ffffff;
}

td strong {
    position: sticky;
    top: 50px; /* Unterhalb des Tabellen-Headers */
}

.snapshot-total {
    color: #c4c4c4;
}

.snapshot-card-body {
    max-height: 600px; /* Limit the vertical size of the card body */
    overflow-y: auto; /* Enable vertical scrolling */
}

#fullscreen-card-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: auto;
}

#fullscreen-card-container.hidden {
    display: none;
}

#close-fullscreen-card {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1001;
}

#close-fullscreen-card:hover {
    background-color: #cc0000;
}

#fullscreen-card-content {
    width: 90%;
    height: 90%;
    overflow: auto;
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}
